body.g1-layout-boxed {
background-color: #1f2a46;
}

.g1-layout-boxed .g1-row-layout-page {
max-width: 1212px;
}

/* Global Color Scheme */
.g1-sharebar > .g1-row-background {
background-color: #1f2a46;
}

a,
.entry-title > a:hover,
.entry-meta a:hover,
.menu-item > a:hover,
.current-menu-item > a,
.mtm-drop-expanded > a,
.g1-nav-single-prev > a > span:before,
.g1-nav-single-next > a > span:after,
.g1-nav-single-prev > a:hover > strong,
.g1-nav-single-prev > a:hover > span,
.g1-nav-single-next > a:hover > strong,
.g1-nav-single-next > a:hover > span,
.mashsb-count,
.archive-title:before,
.snax .snax-item-title > a:hover {
color: #c01610;
}

input[type="submit"],
input[type="reset"],
input[type="button"],
button,
.g1-button-solid,
.g1-button-solid:hover,
.g1-arrow-solid,
.author-link,
.author-info .author-link,
.g1-box-icon,
.wyr-reaction:hover .wyr-reaction-button,
.wyr-reaction-voted .wyr-reaction-button,
.wyr-reaction .wyr-reaction-bar {
border-color: #ffb800;
background-color: #ffb800;
color: #ffffff;
}

.entry-counter:before {
border-color: #ffb800;
background-color: #ffb800;
color: #ffffff;
}





.g1-drop-toggle-arrow {
color: #1f2a46;
}


.g1-quick-nav-tabs .menu-item-type-g1-trending > a,
.entry-flag-trending {
border-color: #bf0029;
background-color: #bf0029;
color: #ffffff;
}

.g1-quick-nav-tabs .menu-item-type-g1-hot > a,
.entry-flag-hot {
border-color: #ff0036;
background-color: #ff0036;
color: #ffffff;
}

.g1-quick-nav-tabs .menu-item-type-g1-popular > a,
.entry-flag-popular {
border-color: #ff577b;
background-color: #ff577b;
color: #ffffff;
}

.entry-flag-members_only {
border-color: #ff0036;
background-color: #ff0036;
color: #ffffff;
}

.entry-flag-coupon {
border-color: #ff0036;
background-color: #ff0036;
color: #ffffff;
}







	.entry-counter:before {
		background-image: -webkit-linear-gradient(to top left, #ffb800, #c01610);
		background-image:    -moz-linear-gradient(to top left, #ffb800, #c01610);
		background-image:      -o-linear-gradient(to top left, #ffb800, #c01610);
		background-image:         linear-gradient(to top left, #ffb800, #c01610);
	}





.member-header .mycred-my-rank:after {
	content:"Rank";
}
.member-header .mycred-balance:after {
	content:"Points";
}

.g1-preheader .menu-item a,
.g1-preheader .g1-drop-toggle,
.g1-preheader .g1-socials-item-link {
	color: #666666;
}

.g1-preheader .menu-item:hover > a,
.g1-preheader .current-menu-item > a,
.g1-prenavbar .current-menu-ancestor > a,
.g1-preheader .menu-item-object-post_tag > a:before,
.g1-preheader .g1-drop-toggle:hover,
.g1-preheader .g1-socials-item-link:hover {
	color: #000000;
}

.g1-preheader > .g1-row-background {
			background-clip: padding-box;
	
	background-color: #ffffff;

	}
/*customizer_preview_margins*/
	.g1-hb-row-normal .g1-id ,
	.g1-header .g1-id {
		margin-top: 0;
	}

	.g1-hb-row-normal  .g1-id ,
	.g1-header .g1-id {
	margin-bottom: 0;
	}



@media only screen and ( min-width: 801px ) {
	.g1-hb-row-normal  .g1-id ,
	.g1-header .g1-id {
		margin-top: 0px;
		margin-bottom: 0px;
	}

	.g1-hb-row-normal  .g1-quick-nav ,
	.g1-header .g1-quick-nav {
		margin-top: 40px;
		margin-bottom: 40px;
	}
}

.g1-hb-row-mobile  .g1-id ,
.g1-header .g1-id {
	margin-top: 10px;
	margin-bottom: 10px;
}

.g1-hb-row-mobile  .g1-id ,
.g1-header .g1-id {
	margin-top: 10px;
	margin-bottom: 10px;
}

.g1-hb-row-normal  .g1-primary-nav {
	margin-top: 0px;
	margin-bottom: 0px;
}

/*customizer_preview_margins_end*/


.g1-header .menu-item > a,
.g1-header .g1-hamburger,
.g1-header .g1-drop-toggle,
.g1-header .g1-socials-item-link {
color: #ffffff;
}

.g1-header .menu-item:hover > a,
.g1-header .current-menu-item > a,
.g1-navbar .current-menu-ancestor > a,
.g1-header .menu-item-object-post_tag > a:before,
.g1-header .g1-socials-item-link:hover {
color: #000000;
}

.g1-header > .g1-row-background {
	

	background-color: #ffd334;

		background-image: -webkit-linear-gradient(to right, #ffd334, #ff005a);
	background-image:    -moz-linear-gradient(to right, #ffd334, #ff005a);
	background-image:      -o-linear-gradient(to right, #ffd334, #ff005a);
	background-image:         linear-gradient(to right, #ffd334, #ff005a);
	}


.g1-navbar,
.g1-hb-background {
border-color: #ffffff;
background-color: #ffffff;
}


.g1-navbar .menu-item > a,
.g1-navbar .g1-hamburger,
.g1-navbar .g1-drop-toggle,
.g1-navbar .g1-socials-item-link {
color: #666666;
}

.g1-navbar .menu-item:hover > a,
.g1-navbar .current-menu-item > a,
.g1-navbar .current-menu-ancestor > a,
.g1-navbar .menu-item-object-post_tag > a:before,
.g1-navbar .g1-socials-item-link:hover {
color: #000000;
}

.g1-navbar .sub-menu,
.g1-header .sub-menu,
.g1-preheader .sub-menu {
border-color: #ffffff;
background-color: #ffffff;
}

.g1-navbar .sub-menu .menu-item > a,
.g1-header .sub-menu .menu-item > a,
.g1-g1-preheader .sub-menu .menu-item > a {
color: #666666;
}

.g1-header .g1-link-toggle,
.g1-navbar .g1-link-toggle {
color: #ffffff;
}

.g1-navbar .sub-menu .menu-item:hover > a,
.g1-header .sub-menu .menu-item:hover > a,
.g1-preheader .sub-menu .menu-item:hover > a,
.g1-navbar .sub-menu .current-menu-item > a,
.g1-header .sub-menu .current-menu-item > a,
.g1-preheader .sub-menu .current-menu-item > a,
.g1-navbar .sub-menu .current-menu-ancestor > a,
.g1-header .sub-menu .current-menu-ancestor > a,
.g1-preheader .sub-menu .current-menu-ancestor > a {
color: #fb631e;
}

.g1-header .g1-drop-toggle-badge,
.g1-header .snax-button-create,
.g1-header .snax-button-create:hover,
.g1-navbar .g1-drop-toggle-badge,
.g1-navbar .snax-button-create,
.g1-navbar .snax-button-create:hover {
	border-color: #000000;
	background-color: #000000;
	color: #ffffff;
}

	/*customizer_preview_a_row*/
	.g1-hb-row-a .menu-item > a,
	.g1-hb-row-a .g1-hamburger,
	.g1-hb-row-a .g1-drop-toggle,
	.g1-hb-row-a .g1-socials-item-link{
		color:#666666;
	}

	.g1-hb-row-a .g1-row-background {
		

		background-color: #ffffff;

			}

	.g1-hb-row-a .menu-item:hover > a,
	.g1-hb-row-a .current-menu-item > a,
	.g1-hb-row-a .current-menu-ancestor > a,
	.g1-hb-row-a .menu-item-object-post_tag > a:before,
	.g1-hb-row-a .g1-socials-item-link:hover {
		color:#000000;
	}

	.g1-hb-row-a .g1-drop-toggle-badge,
	.g1-hb-row-a .snax-button-create,
	.g1-hb-row-a .snax-button-create:hover {
		border-color: #000000;
		background-color: #000000;
		color: #ffffff;
	}
	/*customizer_preview_a_row_end*/
	/*customizer_preview_b_row*/
	.g1-hb-row-b .menu-item > a,
	.g1-hb-row-b .g1-hamburger,
	.g1-hb-row-b .g1-drop-toggle,
	.g1-hb-row-b .g1-socials-item-link{
		color:#000000;
	}

	.g1-hb-row-b .g1-row-background {
		

		background-color: #ffb800;

					background-image: -webkit-linear-gradient(to right, #ffb800, #ffb800);
			background-image:    -moz-linear-gradient(to right, #ffb800, #ffb800);
			background-image:      -o-linear-gradient(to right, #ffb800, #ffb800);
			background-image:         linear-gradient(to right, #ffb800, #ffb800);
			}

	.g1-hb-row-b .menu-item:hover > a,
	.g1-hb-row-b .current-menu-item > a,
	.g1-hb-row-b .current-menu-ancestor > a,
	.g1-hb-row-b .menu-item-object-post_tag > a:before,
	.g1-hb-row-b .g1-socials-item-link:hover {
		color:#000000;
	}

	.g1-hb-row-b .g1-drop-toggle-badge,
	.g1-hb-row-b .snax-button-create,
	.g1-hb-row-b .snax-button-create:hover {
		border-color: #000000;
		background-color: #000000;
		color: #ffffff;
	}
	/*customizer_preview_b_row_end*/
	/*customizer_preview_c_row*/
	.g1-hb-row-c .menu-item > a,
	.g1-hb-row-c .g1-hamburger,
	.g1-hb-row-c .g1-drop-toggle,
	.g1-hb-row-c .g1-socials-item-link{
		color:#666666;
	}

	.g1-hb-row-c .g1-row-background {
		

		background-color: #ffffff;

			}

	.g1-hb-row-c .menu-item:hover > a,
	.g1-hb-row-c .current-menu-item > a,
	.g1-hb-row-c .current-menu-ancestor > a,
	.g1-hb-row-c .menu-item-object-post_tag > a:before,
	.g1-hb-row-c .g1-socials-item-link:hover {
		color:#000000;
	}

	.g1-hb-row-c .g1-drop-toggle-badge,
	.g1-hb-row-c .snax-button-create,
	.g1-hb-row-c .snax-button-create:hover {
		border-color: #000000;
		background-color: #000000;
		color: #ffffff;
	}
	/*customizer_preview_c_row_end*/
/*customizer_preview_canvas*/
.g1-canvas-content,
.g1-canvas-toggle,
.g1-canvas-content .menu-item > a,
.g1-canvas-content .g1-hamburger,
.g1-canvas-content .g1-drop-toggle,
.g1-canvas-content .g1-socials-item-link{
	color:#666666}

.g1-canvas-content .menu-item:hover > a,
.g1-canvas-content .current-menu-item > a,
.g1-canvas-content .current-menu-ancestor > a,
.g1-canvas-content .menu-item-object-post_tag > a:before,
.g1-canvas-content .g1-socials-item-link:hover {
	color:#fb631e}

.g1-canvas-global {
	background-color: #ffffff;
		}

.g1-canvas-background {
				opacity: 1;
}

.g1-canvas-content .snax-button-create {
	border-color: #dd3333;
	background-color: #dd3333;
	color: #ffffff;
}
/*customizer_preview_canvas_end*/

/*customizer_preview_submenu*/
.g1-hb-row .sub-menu {
border-color: #ffffff;
background-color: #ffffff;
}

.g1-hb-row .sub-menu .menu-item > a {
color: #666666;
}

.g1-hb-row .g1-link-toggle {
color: #ffffff;
}

.g1-hb-row .sub-menu .menu-item:hover > a,
.g1-hb-row .sub-menu .current-menu-item > a,
.g1-hb-row .sub-menu .current-menu-ancestor > a {
color: #fb631e;
}
/*customizer_preview_submenu_row_end*/
/* Prefooter Theme Area */
/*customizer_preview_footer*/
.g1-prefooter {
	background-color: #f2f2f2;
	}
.g1-prefooter > .g1-row-background,
.g1-prefooter .g1-current-background {
	background-color: transparent;
				opacity: 1;
}
/*customizer_preview_footer_end*/


.g1-prefooter h1,
.g1-prefooter h2,
.g1-prefooter h3,
.g1-prefooter h4,
.g1-prefooter h5,
.g1-prefooter h6,
.g1-prefooter .g1-mega,
.g1-prefooter .g1-alpha,
.g1-prefooter .g1-beta,
.g1-prefooter .g1-gamma,
.g1-prefooter .g1-delta,
.g1-prefooter .g1-epsilon,
.g1-prefooter .g1-zeta,
.g1-prefooter blockquote,
.g1-prefooter .widget_recent_entries a,
.g1-prefooter .widget_archive a,
.g1-prefooter .widget_categories a,
.g1-prefooter .widget_meta a,
.g1-prefooter .widget_pages a,
.g1-prefooter .widget_recent_comments a,
.g1-prefooter .widget_nav_menu .menu a {
color: #000000;
}

.g1-prefooter {
color: #666666;
}

.g1-prefooter .entry-meta {
color: #999999;
}

.g1-prefooter input,
.g1-prefooter select,
.g1-prefooter textarea {
border-color: #bfbfbf;
}

.g1-prefooter input[type="submit"],
.g1-prefooter input[type="reset"],
.g1-prefooter input[type="button"],
.g1-prefooter button,
.g1-prefooter .g1-button-solid,
.g1-prefooter .g1-button-solid:hover,
.g1-prefooter .g1-box-icon {
border-color: #fb631e;
background-color: #fb631e;
color: #ffffff;
}

.g1-prefooter .g1-button-simple {
	border-color: #000000;
	color: #000000;
}


/* Footer Theme Area */
.g1-footer > .g1-row-background,
.g1-footer .g1-current-background {
background-color: #f2f2f2;
}

.g1-footer {
color: #666666;
}

.g1-footer-text {
color: #999999;
}

.g1-footer a:hover,
.g1-footer-nav a:hover {
color: #fb631e;
}





.g1-dark { color: rgba(255, 255, 255, 0.8); }

.g1-dark h1,
.g1-dark h2,
.g1-dark h3,
.g1-dark h4,
.g1-dark h5,
.g1-dark h6,
.g1-dark .g1-alpha,
.g1-dark .g1-beta,
.g1-dark .g1-gamma,
.g1-dark .g1-delta,
.g1-dark .g1-epsilon,
.g1-dark .g1-zeta {
	color: #fff;
}

	.g1-dark .g1-giga-2nd,
	.g1-dark .g1-mega-2nd,
	.g1-dark .g1-alpha-2nd,
	.g1-dark .g1-beta-2nd,
	.g1-dark .g1-gamma-2nd,
	.g1-dark .g1-delta-2nd,
	.g1-dark .g1-epsilon-2nd,
	.g1-dark .g1-zeta-2nd {
		border-color: rgba(255, 255, 255, 0.1);
	}


.g1-dark .g1-meta { color: rgba(255, 255, 255, 0.6); }
.g1-dark .g1-meta a { color: rgba(255, 255, 255, 0.8); }
.g1-dark .g1-meta a:hover { color: rgba(255, 255, 255, 1); }

.g1-dark .archive-title:before {
	color: inherit;
}


.g1-dark [type=input],
.g1-dark [type=email] {
	border-color: rgba(255,255,255, 0.15);
}

.g1-dark [type=submit] {
	border-color: #fff;
	background-color: #fff;
	color: #1a1a1a;
}

.g1-dark .g1-button-simple {
	border-color: #fff;
	color: #fff;
}

.g1-dark .g1-newsletter-icon {
	background-color: #fff;
	color: #1a1a1a;
}



		.entry-category, .entry-categories-l .entry-category{
			font-weight:-1;font-family:'Roboto' ,sans-serif;		}
		@media only screen and (min-width: 1025px) {
			.entry-category, .entry-categories-l .entry-category{
				font-weight:-1;font-family:'Roboto' ,sans-serif;			}
		}
		@media only screen and (min-width: 768px) and (max-width: 1023px){
			.entry-category, .entry-categories-l .entry-category{
				font-weight:-1;font-family:'Roboto' ,sans-serif;			}
		}
		@media only screen and (max-width: 767px){
			.entry-category, .entry-categories-l .entry-category{
				font-weight:-1;font-family:'Roboto' ,sans-serif;			}
		}
				[type=submit], [type=reset], [type=button], button, .g1-button, .g1-hb-row .snax-button-create.g1-button-m{
			font-weight:-1;font-family:'Oswald' ,sans-serif;		}
		@media only screen and (min-width: 1025px) {
			[type=submit], [type=reset], [type=button], button, .g1-button, .g1-hb-row .snax-button-create.g1-button-m{
				font-weight:-1;font-family:'Oswald' ,sans-serif;			}
		}
		@media only screen and (min-width: 768px) and (max-width: 1023px){
			[type=submit], [type=reset], [type=button], button, .g1-button, .g1-hb-row .snax-button-create.g1-button-m{
				font-weight:-1;font-family:'Oswald' ,sans-serif;			}
		}
		@media only screen and (max-width: 767px){
			[type=submit], [type=reset], [type=button], button, .g1-button, .g1-hb-row .snax-button-create.g1-button-m{
				font-weight:-1;font-family:'Oswald' ,sans-serif;			}
		}
				.g1-meta{
			font-weight:-1;font-family:sans-serif;		}
		@media only screen and (min-width: 1025px) {
			.g1-meta{
				font-weight:-1;font-family:sans-serif;			}
		}
		@media only screen and (min-width: 768px) and (max-width: 1023px){
			.g1-meta{
				font-weight:-1;font-family:sans-serif;			}
		}
		@media only screen and (max-width: 767px){
			.g1-meta{
				font-weight:-1;font-family:sans-serif;			}
		}
				.g1-body-inner .g1-primary-nav-menu > .menu-item > a, .g1-primary-nav-menu>.menu-item>a{
			font-weight:-1;font-family:'Oswald' ,sans-serif;		}
		@media only screen and (min-width: 1025px) {
			.g1-body-inner .g1-primary-nav-menu > .menu-item > a, .g1-primary-nav-menu>.menu-item>a{
				font-size:22px;font-weight:-1;font-family:'Oswald' ,sans-serif;			}
		}
		@media only screen and (min-width: 768px) and (max-width: 1023px){
			.g1-body-inner .g1-primary-nav-menu > .menu-item > a, .g1-primary-nav-menu>.menu-item>a{
				font-weight:-1;font-family:'Oswald' ,sans-serif;			}
		}
		@media only screen and (max-width: 767px){
			.g1-body-inner .g1-primary-nav-menu > .menu-item > a, .g1-primary-nav-menu>.menu-item>a{
				font-weight:-1;font-family:'Oswald' ,sans-serif;			}
		}
				.sub-menu > li > a{
			font-weight:-1;font-family:'Oswald' ,sans-serif;		}
		@media only screen and (min-width: 1025px) {
			.sub-menu > li > a{
				font-size:19px;font-weight:-1;font-family:'Oswald' ,sans-serif;			}
		}
		@media only screen and (min-width: 768px) and (max-width: 1023px){
			.sub-menu > li > a{
				font-weight:-1;font-family:'Oswald' ,sans-serif;			}
		}
		@media only screen and (max-width: 767px){
			.sub-menu > li > a{
				font-weight:-1;font-family:'Oswald' ,sans-serif;			}
		}
				.g1-giga{
			font-weight:-1;font-family:'Oswald' ,sans-serif;		}
		@media only screen and (min-width: 1025px) {
			.g1-giga{
				font-weight:-1;font-family:'Oswald' ,sans-serif;			}
		}
		@media only screen and (min-width: 768px) and (max-width: 1023px){
			.g1-giga{
				font-weight:-1;font-family:'Oswald' ,sans-serif;			}
		}
		@media only screen and (max-width: 767px){
			.g1-giga{
				font-weight:-1;font-family:'Oswald' ,sans-serif;			}
		}
				.g1-mega{
			font-weight:-1;font-family:'Oswald' ,sans-serif;		}
		@media only screen and (min-width: 1025px) {
			.g1-mega{
				font-weight:-1;font-family:'Oswald' ,sans-serif;			}
		}
		@media only screen and (min-width: 768px) and (max-width: 1023px){
			.g1-mega{
				font-weight:-1;font-family:'Oswald' ,sans-serif;			}
		}
		@media only screen and (max-width: 767px){
			.g1-mega{
				font-weight:-1;font-family:'Oswald' ,sans-serif;			}
		}
				.g1-mega-2nd{
			font-weight:-1;font-family:'Oswald' ,sans-serif;		}
		@media only screen and (min-width: 1025px) {
			.g1-mega-2nd{
				font-weight:-1;font-family:'Oswald' ,sans-serif;			}
		}
		@media only screen and (min-width: 768px) and (max-width: 1023px){
			.g1-mega-2nd{
				font-weight:-1;font-family:'Oswald' ,sans-serif;			}
		}
		@media only screen and (max-width: 767px){
			.g1-mega-2nd{
				font-weight:-1;font-family:'Oswald' ,sans-serif;			}
		}
				.g1-alpha, .entry-content h1, h1{
			font-weight:-1;font-family:'Oswald' ,sans-serif;		}
		@media only screen and (min-width: 1025px) {
			.g1-alpha, .entry-content h1, h1{
				line-height:1.3;font-weight:-1;font-family:'Oswald' ,sans-serif;			}
		}
		@media only screen and (min-width: 768px) and (max-width: 1023px){
			.g1-alpha, .entry-content h1, h1{
				font-weight:-1;font-family:'Oswald' ,sans-serif;			}
		}
		@media only screen and (max-width: 767px){
			.g1-alpha, .entry-content h1, h1{
				font-weight:-1;font-family:'Oswald' ,sans-serif;			}
		}
				.g1-beta, .entry-content h2, h2{
			font-weight:-1;font-family:'Oswald' ,sans-serif;		}
		@media only screen and (min-width: 1025px) {
			.g1-beta, .entry-content h2, h2{
				line-height:1.3;font-weight:-1;font-family:'Oswald' ,sans-serif;			}
		}
		@media only screen and (min-width: 768px) and (max-width: 1023px){
			.g1-beta, .entry-content h2, h2{
				font-weight:-1;font-family:'Oswald' ,sans-serif;			}
		}
		@media only screen and (max-width: 767px){
			.g1-beta, .entry-content h2, h2{
				font-weight:-1;font-family:'Oswald' ,sans-serif;			}
		}
				.g1-gamma, .entry-content h3, h3{
			font-weight:-1;font-family:'Oswald' ,sans-serif;		}
		@media only screen and (min-width: 1025px) {
			.g1-gamma, .entry-content h3, h3{
				line-height:1.3;font-weight:-1;font-family:'Oswald' ,sans-serif;			}
		}
		@media only screen and (min-width: 768px) and (max-width: 1023px){
			.g1-gamma, .entry-content h3, h3{
				font-weight:-1;font-family:'Oswald' ,sans-serif;			}
		}
		@media only screen and (max-width: 767px){
			.g1-gamma, .entry-content h3, h3{
				font-weight:-1;font-family:'Oswald' ,sans-serif;			}
		}
				.g1-delta, .entry-content h4, h4{
			font-weight:-1;font-family:'Oswald' ,sans-serif;		}
		@media only screen and (min-width: 1025px) {
			.g1-delta, .entry-content h4, h4{
				line-height:1.3;font-weight:-1;font-family:'Oswald' ,sans-serif;			}
		}
		@media only screen and (min-width: 768px) and (max-width: 1023px){
			.g1-delta, .entry-content h4, h4{
				font-weight:-1;font-family:'Oswald' ,sans-serif;			}
		}
		@media only screen and (max-width: 767px){
			.g1-delta, .entry-content h4, h4{
				font-weight:-1;font-family:'Oswald' ,sans-serif;			}
		}
				.g1-epsilon, .entry-content h5, h5{
			font-weight:-1;font-family:'Oswald' ,sans-serif;		}
		@media only screen and (min-width: 1025px) {
			.g1-epsilon, .entry-content h5, h5{
				line-height:1.3;font-weight:-1;font-family:'Oswald' ,sans-serif;			}
		}
		@media only screen and (min-width: 768px) and (max-width: 1023px){
			.g1-epsilon, .entry-content h5, h5{
				font-weight:-1;font-family:'Oswald' ,sans-serif;			}
		}
		@media only screen and (max-width: 767px){
			.g1-epsilon, .entry-content h5, h5{
				font-weight:-1;font-family:'Oswald' ,sans-serif;			}
		}
				.g1-zeta, .entry-content h6, h6{
			font-weight:-1;font-family:'Oswald' ,sans-serif;		}
		@media only screen and (min-width: 1025px) {
			.g1-zeta, .entry-content h6, h6{
				line-height:1.3;font-weight:-1;font-family:'Oswald' ,sans-serif;			}
		}
		@media only screen and (min-width: 768px) and (max-width: 1023px){
			.g1-zeta, .entry-content h6, h6{
				font-weight:-1;font-family:'Oswald' ,sans-serif;			}
		}
		@media only screen and (max-width: 767px){
			.g1-zeta, .entry-content h6, h6{
				font-weight:-1;font-family:'Oswald' ,sans-serif;			}
		}
		